body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

#menu {
  background-color: dimgray;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
}

#menu a {
  text-decoration: none;
  color: white;
}

#menu .name:after {
  content: ' -'
}